{% load static %}
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <h1 class="text-3xl font-bold underline">
  </h1>
  <main class="mx-auto" style="max-width: 600px;">
    <div class="wrapper px-4 pt-4 relative border-2 shadow-2xl border-gray-100">
      <header class="flex justify-between h-10">
          <div class="brand-section">
            <img src="{% static 'assets/png/logo.jpg' %}" alt="">
            DST
            <div class="relative">
              <a href="{% url "cart" %}">
              </a>
            </div>
        </div>
      </header>
      <div class="mt-3">
        <div class="relative">
          <span class="absolute text-gray-500 inset-y-0 left-0 pl-8 flex items-center">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </span>

          <form action="">
            <input
            class="custom-input"
            type="text" placeholder="Search" name="q">
          </form>
        </div>

        <div class="mx-auto w-full pb-5">
          <img class="mt-8 h-32 w-full rounded-lg  mx-auto object-cover shadow-2xl"
            src="https://images.unsplash.com/photo-1550461716-dbf266b2a8a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=525&q=80"
            alt="food">

          <hr>

          <div class="flex justify-between items-center mt-8">
            <h2 class="text-lg font-bold">Kategoriyalar</h2>
            <a href="#" class="text-orange-500"></a>
          </div>
          <div class="grid grid-cols-4 gap-4 mt-2">
            {% for category in categories %}
              <div class="flex flex-col">
                <img class="h-20 w-20 rounded-lg self-center"
                  src="{{category.cover.url}}"
                  alt="{{category.title}}">
                <p class="text-center">
                  {{category.title}}
                </p>

              </div>
            {% endfor %}
          </div>
          <hr class="mt-2">

          <div class="flex justify-between items-center mt-8">
            <h2 class="text-lg font-bold">Mahsulotlar</h2>
            <a href="#" class="text-orange-500"></a>
          </div>
          <div class="grid grid-cols-3 gap-4 mt-2">
            {% for product in products %}
              <a href="{% url "detail" product.id %}">
                <div class="flex flex-col items-start">
                  <img class="rounded-lg h-32 w-full"
                    style="object-fit: contain;"
                    src="{{product.cover.url}}"
                    alt="food">
                  <div class="flex justify-between">
                    <div>
                      <p>{{product.title}}</p>
                      <p class="font-bold">${{product.price_usd}}</p>
                      <p>{{product.price_uzs}} so'm</p>
                    </div>
                    <div class="flex flex-col justify-between">
                      <p></p>
                      <img src="{% static 'assets/png/backet.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>



          <div class="flex justify-between items-center mt-8">
            <h2 class="text-lg font-bold">Ommabop maxsulotlar</h2>
            <a href="#" class="text-orange-500"></a>
          </div>
          
          {% for item in top %}
          <div class="flex p-2 bg-white shadow-lg rounded-lg mt-3">
            <img class="h-20 w-20 rounded-lg self-center"
              src="{{item.cover.url}}"
              alt="food">
            <div class="p-2 pl-3 w-full">
              <div class="flex justify-between items-center">
                <h3 class="font-bold inline-block">{{item.title}}</h3>
              </div>
              <div class="flex items-center">
                <svg class="h-4 w-4 text-red-400 inline-block" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg class="h-4 w-4 text-red-400 inline-block" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg class="h-4 w-4 text-red-400 inline-block" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg class="h-4 w-4 text-red-400 inline-block" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg class="h-4 w-4 text-red-400 inline-block" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="#ccc" stroke="#ccc" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <span class="pl-2">4</span>
              </div>
              <div class="text-gray-500 flex items-center justify-between">
                <svg class="inline-block h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round">
                  <circle cx="10" cy="20.5" r="1" />
                  <circle cx="18" cy="20.5" r="1" />
                  <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" />
                </svg>
                <span class="text-sm ml-2">
                  {{item.category.title}}
                </span>
                <span class="ml-auto text-orange-500 font-bold">{{item.price_uzs}} so'm</span>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>


      </div>
      <!-- <div class="absolute bottom-0 border-gray-100 border-2 left-0 bg-white shadow-xl rounded-full w-full h-16">
        <ul class="flex justify-around items-center h-full">
          <li class="text-orange-500">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
            </svg>
          </li>
          <li class="text-gray-400 relative">
            <div class="absolute h-8 w-8 top-0 right-0">
              <svg class="absolute text-orange-500 border-white" viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="#fff" stroke-width="3">
                <circle cx="85" cy="15" r="15" />
              </svg>
            </div>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="3" width="18" height="18" rx="2" />
              <circle cx="8.5" cy="8.5" r="1.5" />
              <path d="M20.4 14.5L16 10 4 20" />
            </svg>
          </li>
          <li class="text-gray-400">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="10" cy="20.5" r="1" />
              <circle cx="18" cy="20.5" r="1" />
              <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" />
            </svg>
          </li>
          <li class="text-gray-400">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
              </path>
            </svg>
          </li>
        </ul>
      </div> -->
    </div>
  </main>

</body>

</html>