<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <h1 class="text-3xl font-bold underline">
  </h1>
  <main class="mx-auto" style="max-width: 600px;">
    <div class="wrapper px-4 pt-4 relative border-2 shadow-2xl border-gray-100">
      <header class="flex justify-between h-10">
        <img src="./assets/png/logo.jpg" alt="">
        DST
        <div class="relative">
          <img class="h-8 w-8 rounded-full" src="./assets/png/backet.png" alt="Profil woman">
        </div>
      </header>
      <div class="mt-3">
        <div class="relative">
          <span class="absolute text-gray-500 inset-y-0 left-0 pl-8 flex items-center">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </span>

          <input
            class="block w-full text-gray-600 rounded-lg py-3 px-3 bg-gray-200 pl-16 text-sm font-thin pr-4 outline-none"
            type="text" placeholder="Search">
        </div>

        <div class="mx-auto w-full">
          <div class="flex justify-between items-center mt-3">
            <h2 class="text-lg font-bold flex items-center justify-between">
              <span> <img src="./assets/png/arrow-left.png" alt=""></span>
              <span class="ml-2">Kategoriyalar</span>
            </h2>
            <a href="#" class="text-orange-500"></a>
          </div>
          <div class="grid grid-cols-3 gap-4 mt-2">
            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>

            <div class="flex flex-col items-start">
              <img class="rounded-lg h-32 w-full"
                src="https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=130&h=130"
                alt="food">
              <div class="flex justify-between">
                <div>
                  <p>Product name</p>
                  <p class="font-bold">$1.2</p>
                  <p>12 000 000 000 so'm</p>
                </div>
                <div class="flex flex-col justify-between">
                  <p></p>
                  <img src="./assets/png/backet.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>